<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diegodobelo.expandinganimlib">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AndroidActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KotlinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WebActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ReactActivity" />
        <activity android:name=".UnityActivity" />
        <activity android:name=".PhotoActivity" />
        <activity android:name=".SketchActivity" />
        <activity android:name=".HackingActivity" />
        <activity android:name=".PythonActivity"></activity>
    </application>

</manifest>